{% extends 'template.html' %}

{% block body %}
  <div class="mid_prt">
    <div class="mid_prt_top" align="left"></div>
    <div class="mid_prt_mid" align="left">
      <div class="mid_main">
        <div class="mid_main_head">
          <h3>{% if multi %}Combinations found{% else %}Words found{% endif %} for rack <span>{{ rack|e }}</span>{% if patt %} with pattern <span>{{ patt|e }}</span>{% endif %}</h3>
        </div>
        <div class="inner_add">
          <div class="top_letter">
            <ul>
              {% if entries|length == 0 %}
                <li>None found</li>
              {% else %}
                {% for l,entry in entries %}
                  <li>
                    {% if not multi %}
                      {{ l }} letter words:<br>
                    {% endif %}
                    <p>
                      {% for word,subs in entry %}
                        {%- if loop.index0 -%}, {% endif %}
                        {% for c in word %}{% if loop.index0 in subs %}<span>{% endif %}{{ c }}{% if loop.index0 in subs %}</span>{% endif %}{%- endfor -%}
                      {% endfor %}
                    </p>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mid_prt_bot"></div>
  </div>

  {% include 'conversion.html' %}
{% endblock %}
